/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace, sans-serif;
}

html {
  height: 100vh;
  font-size: 15px;
}

/* COLORS */
:root {
  --veryLightGrey_lightmode:#F6F8FF;
  --grey_lightmode:#697C9A;
}

/* DEVICES */
.day-night {
  -webkit-transition: 1s;
  transition: 1s;
}

body {
  width: 60%;
  margin: auto;
  padding: 5% 0;
  color: var(--grey_lightmode);
  background-color: var(--veryLightGrey_lightmode);
}

header {
  color: #2B3442;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 0.8em;
}

#search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding: 3% 3%;
  margin: 3% 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  background-color: #FEFEFE;
}

#search-form label {
  margin: 0 3%;
  cursor: pointer;
}

#search-form input {
  width: 50%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#search-form .no-result {
  width: 14%;
  color: red;
  margin: 0 2%;
}

main {
  background-color: green;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  background-color: #FEFEFE;
  overflow: hidden;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

aside img {
  width: 80%;
  margin-top: 12%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

section {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 4% 3%;
}

section .namesDate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .bio {
  margin: 3% 0;
  height: 17%;
  overflow: scroll;
}

section .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 10%;
  background-color: #F6F8FF;
  border-radius: 10px;
}

section .links {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 25%;
}

section .links .links-firstLine, section .links .links-secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  height: 100px;
}

section .links a, section .links .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  text-decoration: none;
  color: #697C9A;
}
