/* RESET */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Space Mono', monospace, sans-serif;
}

html {
  height: 100vh;
  font-size: 15px;
}

/* COLORS */
:root {
  --veryLightGrey_lightmode:#F6F8FF;
  --grey_lightmode:#697C9A;
  --white_lightmode:#FEFEFE;
  --darkGrey_lightmode:#2B3442;
}

/* DEVICES */
body {
  width: 50%;
  margin: auto;
  padding: 5% 0;
  color: var(--grey_lightmode);
  -webkit-transition: 1s;
  transition: 1s;
  background-color: var(--veryLightGrey_lightmode);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--darkGrey_lightmode);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 1s;
  transition: 1s;
}

header .mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--darkGrey_lightmode);
  letter-spacing: 0.3em;
  font-size: 0.8em;
  cursor: pointer;
}

header .moon-sun {
  width: 20px;
  height: 20px;
  background-color: var(--darkGrey_lightmode);
}

header .moon {
  -webkit-mask: url("/assets/icon-moon.svg");
          mask: url("/assets/icon-moon.svg");
}

header .sun {
  -webkit-mask: url("/assets/icon-sun.svg");
          mask: url("/assets/icon-sun.svg");
}

#search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1% 1%;
  margin: 3% 0;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--white_lightmode);
}

#search-form label {
  margin: 0 3%;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#search-form input {
  width: 50%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: none;
  outline: none;
  background-color: var(--white_lightmode);
  caret-color: #0079FF;
}

#search-form .no-result {
  width: 14%;
  color: red;
  font-weight: bold;
  margin: 0 2%;
}

#search-form .submit-btn {
  color: white;
  background-color: #0079FF;
  border: none;
  border-radius: 10px;
  padding: 2% 4%;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#search-form .submit-btn:hover {
  opacity: 0.6;
}

main {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.1);
  background-color: var(--white_lightmode);
  overflow: hidden;
}

main h3 {
  color: #0079FF;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

aside img {
  width: 140px;
  margin-top: 12%;
  margin: 12% 0 0 12%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

section {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 4% 12% 4% 0%;
}

section .namesDate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .bio {
  margin: 3% 0;
  height: 17%;
  overflow: scroll;
}

section .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3% 10%;
  background-color: #F6F8FF;
  border-radius: 10px;
}

section .links {
  margin-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 25%;
}

section .links .links-firstLine, section .links .links-secondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
  height: 100px;
}

section .links a, section .links .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  text-decoration: none;
  color: #697C9A;
}
/*# sourceMappingURL=main.css.map */