
/* DEVICES */

@mixin wide-screen {
    @media screen and (min-width: 1025px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 481px) and (max-width: 1024px) {
        @content;
    }
}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family : 'Space Mono', monospace, sans-serif;
}

html {
    
    height: 100vh;
    font-size: 1.1em;
  
    
}

/* COLORS */

$blue: #0079FF;

$grey_lightmode :#697C9A;
$veryLightGrey_lightmode :#F6F8FF;
$darkGrey_lightmode :#2B3442;
$greyBlue_lightmode :#4B6A9B;
$white_lightmode :#FEFEFE;

$white_darkmode : white;
$darkBlue_darkmode: #1E2A47;
$veryDarkBlue_darkmode :#141D2F;

:root{
--veryLightGrey_lightmode:#F6F8FF;
--grey_lightmode :#697C9A;
--white_lightmode :#FEFEFE;
--darkGrey_lightmode :#2B3442;
--greyBlue_lightmode:#4B6A9B;
}

