@import  'reset','mixins'; 

$time : 400ms;


body{
    width: 65%;
    margin: auto;
    padding: 2% 0;
    @include tablet{
        width : 80%;
        padding: 5% 0;     
    }
    @include mobile{
        width: 85%;
        padding: 5% 0; 
        font-size: 0.7em;
    }
    color: var(--grey_lightmode); 
    transition: $time;
    background-color:var(--veryLightGrey_lightmode);  
}


header{
    display: flex;
    color : var(--darkGrey_lightmode);
    justify-content: space-between;
    transition: $time;
   
   

    & .mode{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color : var(--grey_lightmode);
        letter-spacing: 0.3em;
        font-size: 0.8em;
        cursor: pointer;

        & div{
            padding-right: 10px;
            color : var(--grey_lightmode);
        }
    
        & .moon-sun{
            width: 20px;
            height: 20px;
            background-color: var(--grey_lightmode);
        }
            & .moon{
                mask: url('/assets/icon-moon.svg');
            }
            & .sun{
                mask: url('/assets/icon-sun.svg');   
            }
        
        
    }
    
}

#search-form{
    display: flex;
    justify-content: stretch;
    align-items: center;
    height: 90px;
    padding: 1% 2%; 
    margin: 3% 0;
    
    @include box-setup;

    @include tablet{
        height: 70px;
        margin-top: 10%;
    }

    @include mobile{
        height: 50px;
        margin-top: 10%;
    }

    & label {
        margin: 0 3%;
        cursor: pointer;
        align-self: center;

    }
    & input {
        width:50%;   
        flex:2;
        border:none;
        outline:none;
        background-color:var(--white_lightmode) ;
        color:var(--darkGrey_lightmode);
        caret-color:  $blue  ;
        font-size: large;
        @include mobile{
            width:70%;
            font-size: 1em;  
        }
        &::placeholder{
            color:var(--greyBlue_lightmode);
        }
    }
    & .no-result{
        width:14%;
        color: red;
        font-weight: bold;
        margin :0 2%;
        @include mobile{
            width:min-content;
            white-space:nowrap;
        }
    }
    & .submit-btn{
        color:white;
        background-color: $blue;
        border: none;
        border-radius:10px;
        padding: 2% 4%;
        cursor: pointer;
        transition: $time;
        &:hover{
           opacity:0.6
            
        }
        @include tablet {
            height: 90%;
        }
        @include mobile {
            height: 90%;
        }

    }
}


main{
    display: flex;
    justify-content: stretch;
    position: relative;
    @include box-setup;
    overflow: hidden;
    background-color: var(--white_lightmode);
    padding: 3% 0 3% 0;
 
    & h2{
        color : var(--darkGrey_lightmode);
    }
    & h3{
        color: $blue;
        font-weight: 100;
    }
   
}

aside{
    display: flex;
    left: 0;
    align-items: flex-start;
    justify-content: center;
    width :30%;
    @include tablet{
       position: absolute;
       margin-left: 10px;
    }
    @include mobile{
        position: absolute;
       margin-left: 10px;
    }
  
    
    & img{
        width:140px;
        @include mobile{
        width :80px;
        }
        margin:12% 0 0 12%;
        clip-path: circle(50% at 50% 50%);
    
      
    }
    
}

section {
    flex:2;
    margin :5% 8% 4% 0%;
    @include tablet{
        margin: 5% 8% 7% 8% ;
    }
    @include mobile{
        margin: 5% 8% 7% 8% ;
    }

    & .namesDate-wrapper{
    display: flex; 
    justify-content: space-between;

        @include tablet{
        flex-direction: column;
        margin-left: 180px; 
        margin-top: 2%;
            & .date{
                margin-top: 0.4em;
            }
        }
        @include mobile{
        flex-direction: column;
        margin-left: 120px; 
        margin-top: 2%;
            & .date{
                margin-top: 0.4em;
            }
        }
    }


    & .bio{
        margin: 3% 0;
        height: 17%;
        overflow: scroll;
        color : var(--greyBlue_lightmode);
        @include tablet{
            margin-top: 10%;
            }
    }

    & .stats{
        display: flex;
        justify-content: space-between;
        padding: 3% 10%;
        background-color: var(--veryLightGrey_lightmode);
        transition: $time;
        border-radius: 10px;
        font-size: 1.1em;
        }

    &  h4{
            font-weight: 100;
            font-size: 0.9em;

        }
    & .value{
        color:var(--darkGrey_lightmode);
        font-weight: bold;
        font-size: 1.2em;
      
    }

    & .links{
        margin-top: 3%;
        display: flex;
        justify-content: flex-start;
        color: var(--greyBlue_lightmode);
        gap:28%;
        @include tablet{
            gap:2%;
        }
        @include mobile{
            flex-direction: column;
            margin-top: 10%;
            margin-bottom: 13%;
        }
       

        & span{
            color: var(--greyBlue_lightmode);
        }

    
        & .links-firstLine, .links-secondLine{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width:30%;
            height: 100px;

            @include mobile{
            width:100%;
            height: auto;
            }
           
            @include tablet{
                width: 50%;
            }
        }

        & a, .location {
            display: flex;
            align-items: center;
            gap: 5%;
            text-decoration: none;
            color: $grey_lightmode;
            @include mobile{
            margin-top: 3%;
            }
        }
        & .blog{
            @include tablet{
                overflow: scroll;
            }
            &:hover{   
                text-decoration: underline;
            }
            
        }

    }
}
 
