@import  'reset','mixins'; 


body{
    width: 50%;
    margin: auto;
    padding: 5% 0;
    color: var(--grey_lightmode);
    transition: 1s;
    background-color:var(--veryLightGrey_lightmode); 
}


header{
    //fill: var(--veryLightGrey_lightmode);
    display: flex;
    color : var(--darkGrey_lightmode);
    justify-content: space-between;
    transition: 1s;
    & .mode{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color : var(--darkGrey_lightmode);
        letter-spacing: 0.3em;
        font-size: 0.8em;
        cursor: pointer;
    }

    & .moon-sun{
        width: 20px;
        height: 20px;
        background-color: var(--darkGrey_lightmode);
    }
    & .moon{
        mask: url('/assets/icon-moon.svg');
    }
    & .sun{
            mask: url('/assets/icon-sun.svg');   
    }
    
}

#search-form{
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 1% 1%; 
    margin: 3% 0;
    
    @include box-setup;

    & label {
        margin: 0 3%;
        cursor: pointer;
        align-self: center;

    }
    & input {
        width:50%;   
        flex:2;
        border:none;
        outline:none;
        background-color:var(--white_lightmode) ;
        caret-color:  $blue ;
    
    }
    & .no-result{
        width:14%;
        color: red;
        font-weight: bold;
        margin :0 2%;
    }
    & .submit-btn{
        color:white;
        background-color: $blue;
        border: none;
        border-radius:10px;
        padding: 2% 4%;
        font-weight: bold;
        cursor: pointer;
        transition: 200ms;
        &:hover{
           opacity:0.6
            
        }

    }
}


main{
    height: 60vh;
    display: flex;
    justify-content: stretch;
    @include box-setup;
    overflow: hidden;
    & h3{
        color: $blue;
    }
}

aside{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width :30%;
    & img{
        width:140px;
        margin-top: 12%;
        margin:12% 0 0 12%;
        clip-path: circle(50% at 50% 50%);
    }
    
}

section {
    flex:2;
    margin :4% 12% 4% 0%;

    & .namesDate-wrapper{
    display: flex;
    justify-content: space-between;
    }

    & .bio{
        margin: 3% 0;
        height: 17%;
        overflow: scroll;
    }

    & .stats{
        display: flex;
        justify-content: space-between;
        padding: 3% 10%;
        background-color: $veryLightGrey_lightmode;
        border-radius: 10px;
    }

    & .links{
        margin-top: 3%;
        display: flex;
        justify-content: flex-start;
        gap:25%;

    
        & .links-firstLine, .links-secondLine{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width:30%;
            height: 100px;
        }

        & a, .location {
            display: flex;
            align-items: center;
            gap: 5%;
            text-decoration: none;
            color: $grey_lightmode;
        }

    }
}