@import  'reset','mixins'; 

.day-night{
    transition :  1s;
}

body{
    width: 60%;
    margin: auto;
    padding: 5% 0;
    color: var(--grey_lightmode);
    background-color:var(--veryLightGrey_lightmode); 
}


header{
    color: $darkGrey_lightmode;
    display: flex;
    justify-content: space-between;
    & .mode{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-size: 0.8em;
    }
    
}

#search-form{
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    padding: 3% 3%; 
    margin: 3% 0;
    @include box-setup;

    & label {
        margin: 0 3%;
        cursor: pointer;
    }
    & input {
        width:50%;   
        flex:2;
    }
    & .no-result{
        width:14%;
        color: red;
        margin :0 2%;
    }
}


main{
    background-color: green;
    height: 60vh;
    display: flex;
    justify-content: stretch;
    @include box-setup;
    overflow: hidden;
}

aside{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width : 25%;
    & img{
        width:80%;
        margin-top: 12%;
        clip-path: circle(50% at 50% 50%);
    }
}

section {
    flex:2;
    margin :4% 3%;

    & .namesDate-wrapper{
    display: flex;
    justify-content: space-between;
    }

    & .bio{
        margin: 3% 0;
        height: 17%;
        overflow: scroll;
    }

    & .stats{
        display: flex;
        justify-content: space-between;
        padding: 3% 10%;
        background-color: $veryLightGrey_lightmode;
        border-radius: 10px;
    }

    & .links{
        margin-top: 3%;
        display: flex;
        justify-content: flex-start;
        gap:25%;

    
        & .links-firstLine, .links-secondLine{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width:30%;
            height: 100px;
        }

        & a, .location {
            display: flex;
            align-items: center;
            gap: 5%;
            text-decoration: none;
            color: $grey_lightmode;
        }

    }
}